body,
html {
  height: 100%;
  margin: 0;
}
.Main-container{
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}


.Dashboard-container{
  grid-row: 1/2;
  box-sizing: border-box;
  padding-left: 3vh;

  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr;

  
}
.dashboard-logo{
  min-height: 8vh;

  padding: 15px 0px;
  font-size: xx-large;
  font-weight: 600;
}
.user-basics{
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}
.user-settings{
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.dashboard-option, .setting-option{
padding: 15px 0px;
}



.User-content-container{
  box-sizing: border-box;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.5fr 2fr;
}

.header-container{
  box-sizing: border-box;
  padding-top: 15px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.icon-img, .pfp-img{
height: 5vh;
width: 5vh;
background-color: gray;
border-radius: 50%;
border: black solid 2px;
}

.top-bar-left, .top-bar-right{
  display: flex;
justify-content: start;
align-items: center;
gap: 15px;
}
.top-bar-left{
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
}
.top-bar-left input{
  flex-grow: 1;
}

.top-bar-right{
grid-column: 2/3;
grid-row: 1/2;
display: flex;
justify-content: center;
gap: 30px;
}

.main-bar{
  display: flex;
  flex-direction: row;
}
.user-salute{
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  gap: 15px;
}
.user-salute img{
  height: 8vh;
  width: 8vh;
}
.user-actions{
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.content-container{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
}
.articles{
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(40%, 1fr));
}
.articles-list{
  display: grid;
  width: 100%;
}
.article{
  border-radius: 10px;
}

.navigation-bar{
  box-sizing: border-box;
  grid-column: 2/3;
  padding: 5px 30px;
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}
.announcements-nav{
  grid-row: 1/2;
  
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}
.announcement{
  border: 2px solid beige;
  border-radius: 5px;
  flex-grow: 1;
}
.trending-nav{
  grid-row: 2/3;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
}
.trending{
  display: flex;
  border: 2px solid beige;
  border-radius: 5px;
  align-items: center;
  gap: 5px;
}



