body,
html {
  height: 100%;
  margin: 0;
  font-family:  Haettenschweiler,
   'Arial Narrow Bold', sans-serif;
}
.Main-container{
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.icon-img, .pfp-img{
height: 4vh;
width: 4vh;
border-radius: 50%;
}


.Dashboard-container{
  grid-row: 1/2;
  box-sizing: border-box;
  background-color: dodgerblue;

  grid-column: 1/2;
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr;
  padding-bottom: 50px;
  color: white;
  
}
.dashboard-logo{
  min-height: 8vh;

  padding: 3vh 3vh;
  font-size: xx-large;
  font-weight: 600;
  display: flex;
  align-items: start;
  gap: 5px;
}
.user-basics{
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}
.user-settings{
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 40px;
}
.dashboard-option, .setting-option{
  font-weight: bold;
  padding: 10px 0px;
  padding-left: 3vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

}
.dashboard-option:hover, .setting-option:hover{
  background-color: #1674d1;
  }

  .dash-icon{
    height: 4vh;
    width: 4vh;
  }



.User-content-container{
  box-sizing: border-box;
  background-color: #ecebebe5;
  
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 0.5fr 2fr;
  gap: 50px;
  padding-bottom: 5vh;
}



.header-container{
  box-sizing: border-box;
  background-color: white;
  padding: 1vh 8vh;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.top-bar-left, .top-bar-right{
  display: flex;
justify-content: start;
align-items: center;
gap: 15px;
}
.top-bar-left{
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
}

.top-bar-left input{
  flex-grow: 1;
  background-color: #ecebebe5;
  border: 0px;
  padding: 8px 18px;
  border-radius: 30px;
}

.top-bar-right{
grid-column: 2/3;
grid-row: 1/2;
display: flex;
justify-content: center;
gap: 30px;
font-weight: bold;
}
.user-salute{
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
.user-salute img{
  height: 7vh;
  width: 7vh;
}
.user-salute-little{
  display: flex;
  flex-direction: column;
}
.user-salute-little p{
  margin: 0;
}
.user-salute-little :last-child{
  font-weight: bold;
  font-size: larger;
}
.user-actions{
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.actions-button{
  padding: 12px 24px;
  background-color: dodgerblue;
  color: white;
  border-radius: 30px;
  border: 0px;
  font-weight: 700;
}
.actions-button:hover{
  background-color: #1674d1;

}
.actions-button:active{
  border: inset 2px black;
  padding: 10px 22px;
}



.content-container{
  box-sizing: border-box;
  display: grid;
  padding:  0px 8vh;
  gap: 30px;

  grid-template-columns: 3fr 1fr;
}



.articles{
  box-sizing: border-box;
  position: relative;
  grid-column: 1/2;

  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(40%, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
}
.article{
  padding: 12px 18px;
  background-color: white;

  border-radius: 10px;
  border-left: orange solid 10px;
}
.article:hover{
  transform: translateY(-5px);
  box-shadow: 5px 5px 5px orange;
}
.article-title{
  font-weight: bold;
}
.navigation-bar{
  box-sizing: border-box;
  grid-column: 2/3;
  
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8vh;
}
.announcements-nav{
  box-sizing: border-box;
  background-color: white;
  position: relative;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.announcement{
border-bottom: black 1px solid;
}
.announcement-title{
  font-weight: bold;
}
.announcement:last-child{
  border-bottom: 0px;
}
.trending-nav{
  box-sizing: border-box;
  background-color: white;
  position: relative;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start ;
  align-items: center;
}
.trending{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin-left: 10%;
}
.trending-user{
  display: flex;
  flex-direction: column;
}
.trending-user p{ 
  color: rgb(80, 80, 80);
  margin: 0;
}
.trending-user :first-child{
  color: black;
  font-weight: bold;
  font-size: medium;
}
.trending-pfp{
  height: 6vh;
  width: 6vh;
}


.title-span{
  position: absolute;
  align-self: flex-start;
  top: -20px;
  font-weight: bolder;
}
